<div class="corner top left">
  <div class="value">{{ value }}</div>
  <div class="color">{{ color }}</div>
</div>
<div class="corner top right">
  <div class="value">{{ value }}</div>
  <div class="color">{{ color }}</div>
</div>
<div class="corner bottom left">
  <div class="value">{{ value }}</div>
  <div class="color">{{ color }}</div>
</div>
<div class="corner bottom right">
  <div class="value">{{ value }}</div>
  <div class="color">{{ color }}</div>
</div>
<span class="center">{{ card }}</span>
