:host {
  display: block;
  width: 100px;
  height: 141px;
  background-color: white;
  border-radius: 10px;
  position: relative;
  box-sizing: content-box;
  user-select: none;

  &.is-not-playable {
    background: #ccc;
  }

  .center {
    position: absolute;
    top: 8px;
    left: 8px;
    bottom: 8px;
    right: 8px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    white-space: nowrap;
    word-spacing: -8px;
  }

  .corner {
    position: absolute;
    letter-spacing: 0;
    word-spacing: -24px;

    &.bottom {
      bottom: 8px;
      transform-origin: center;
      transform: rotate(180deg);
    }

    &.left {
      left: 9px;
    }

    &.top {
      top: 8px;
    }

    &.right {
      right: 10px;
    }

    .value {
      text-align: center;
    }

    .color {
      margin-top: -8px;
      text-align: center;
      font-size: 1.5em;
    }
  }

  &.♥,
  &.♦ {
    color: red;
  }
}
