<ng-container *ngIf="game$ | async as game">
  <div
    class="player"
    [ngClass]="'is-' + positions[i]"
    *ngFor="let player of game.players; let i = index; let isFirst = first"
  >
    {{ player.pseudo }}
    <mat-icon *ngIf="player.isFirst">looks_one</mat-icon>
    <mat-icon *ngIf="game.turnTo === player.id">location_on</mat-icon>

    <div class="hand" *ngIf="isFirst">
      <span class="card" *ngFor="let card of player.hand">{{ card }}</span>
    </div>
  </div>

  <div class="play-mat">
    <div class="bid" *ngIf="game.draw.length === 12">
      {{ game.draw[0] }}
    </div>
  </div>
</ng-container>
