:host {
  display: block;
}

h3 {
  text-align: center;
  font-weight: bold;
}

.cards {
  display: flex;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  justify-content: space-around;
  counter-reset: card-counter;
}

.card {
  counter-increment: card-counter;
}

span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;

  &:before {
    content: counter(card-counter) ". ";
  }
}

mat-icon {
  color: gold;
  text-shadow: 0 1px 2px black;
}

app-card {
  margin-right: unset;
}
